
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Main.cshtml";
}
<h2>Welcome to Resource Monitor!</h2>

<h3 class="text-muted">There are no fancy graphics you can find here…</h3>

<h4>Click on "RamMonitor" tab to view the latest 20 stored RAM states</h4>


